


.image-container{
    float: left;
    margin-top: 50px;
    text-align: center;
    max-width: 40%;
}

.book-details-container{
    float: left;
    max-width: 60%;
    align-items: center;
}

.card-book-details{
    max-width: 700px;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
}


